.carousel-inner {
  height: 700px;
}

.carousel-inner .carousel-item img {
  height: 700px;
  object-fit: cover;
}

.carousel-caption h2 {
  color: #E50914;
  font-weight: bold;
  font-size: 30px;
}

.carousel-caption p {
  color: #ffffff;
}

.rowposter {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.rowimg {
  max-height: 200px;
  object-fit: contain;
  width: auto;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 7px;
}

.rowimg:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.largeposter {
  max-height: 300px;
}

.rowposter::-webkit-scrollbar {
  height: 5px;
}

.rowposter::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.rowposter::-webkit-scrollbar-thumb {
  background: #888;
}

.rowposter::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h5 {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .carousel-inner {
    max-height: 500px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .carousel-inner {
    max-height: 600px;
  }
}

@media (min-width: 1201px) {
  .carousel-inner {
    max-height: 700px;
  }
}
